.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
}

.lat {
  padding: 3rem;
  background: var(--primary-glow);
  font-size: 35px;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
}

.blogItemp {
  max-width: 45vw;
}

.clh3 {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 25px;
}

.btn {
  cursor: pointer;
  border-radius: 6px;
  margin-top: 4px;
}